extends layout

block content
  .title
    h1= title
  
  if messages === null 
    p No messages available

  else
    each message in messages
      .messagess
        h1= message.topic
        p= message.text
        if message.user === ""
          h4= 'By: Anonymous'
        else
          h4= `By: ${message.user}`
        p= `Posted on ${message.added}`
    button(onclick="window.location.href='new'") New Message
